.default {
    align-items: stretch;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    /* fix flexbox bugs */
    min-height: 0;
    min-width: 0;
}