node_modules
coverage
**/generated-snapshot.test.js
demo/src/registerServiceWorker.js

# eslint can't handle the type defintion for the addStyle HOC
packages/wonder-blocks-core/util/add-style.js
**/dist
