node_modules
coverage
coverage-ts
dist
storybook-static
*.tsbuildinfo
utils/**/*.d.ts
!.vscode
.DS_Store
changeset-status.json
# Pnpm errors
pnpm-debug.log
.swc/
.turbo

# If you run `pnpm storybook doctor`, it creates this file, but definitely
# doesn't need to be checked in.
doctor-storybook.log
