.svg {
    display: inline-block;
    vertical-align: text-bottom;
    flex-shrink: 0;
    flex-grow: 0;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    /* dynamic styles */
    mask-image: var(--i-mask-image);
    background-color: var(--i-background-color);
    width: var(--i-size);
    height: var(--i-size);
}