#wbAnnounce {
    display: block !important;
    clip: revert !important;
    position: relative !important;
}
.wbARegion {
    border: 1px solid red;
    margin-bottom: 0.5em;
}
.wbARegion::before {
    background-color: white;
    border: 1px solid red;
    content: attr(id);
    display: block;
    font-size: 0.75rem;
    padding: 0.25em;
}