@font-face {
    font-display: swap;
    font-family:  "Plus Jakarta Sans", sans-serif;
    font-style: 'normal';
    font-weight: 300 900;
    font-variation-settings: "wght" 400;
    src: url(/static/fonts/jakarta-sans/PlusJakartaSans-VariableFont_wght.woff2) format('woff2');
}

@font-face {
    font-family:  "Plus Jakarta Sans", serif;
    font-style: 'italic';
    font-weight: 400;
    src: url(fonts/jakarta-sans/PlusJakartaSans-Italic-VariableFont_wght.woff2) format('woff2');
}
