/**
 * Overrides for the Storybook preview iframe.
 */
html {
    font-size: 62.5%;
}

/* These overrides depend on a Base 10 font size */
.sb-show-main.sb-main-padded {
    padding: 0.8rem;
}

.sbdocs.sbdocs-wrapper {
    padding: 0 2rem 3.2rem 2rem;
    gap: 2.4rem;
}

.sbdocs ul,
.sbdocs li,
.sbdocs p,
.sbdocs p *:not(a) {
    color: var(--color-text);
    font-size: var(--typography-body-size-md);
    line-height: var(--typography-base-line-height);
}

.sbdocs .docblock-argstable p,
.sbdocs .docblock-argstable ul,
.sbdocs .docblock-argstable li {
    font-size: 1em;
}

.sbdocs h1,
.sbdocs title,
.sbdocs h2,
.sbdocs h3,
.sbdocs h4,
.sbdocs h5,
.sbdocs h6 {
    color: var(--color-text);
    font-family: 'Source Serif Pro', sans-serif;
    font-weight: 400;
    margin-top: 0.96rem;
}

/* Reset WB typhography colors inside docs pages */
.sb-unstyled h1,
.sb-unstyled h2,
.sb-unstyled h3,
.sb-unstyled h4,
.sb-unstyled h5,
.sb-unstyled h6 {
    color: unset;
}


.sbdocs h1 {
    font-size: var(--typography-heading-size-xxl);
    line-height: var(--typography-heading-line-height-xxl);
    margin-top: 0;
}

.sbdocs h2 {
    counter-reset: story;
    font-size: var(--typography-heading-size-xl);
    letter-spacing: initial;
    line-height: var(--typography-heading-line-height-xl);
}

.sbdocs h3 {
    font-size: var(--typography-heading-size-lg);
    line-height: var(--typography-heading-line-height-lg);
}

/* only include the counter to the stories titles */
.sb-anchor>h3::before {
    counter-increment: story;
    color: var(--color-text-64);
    content: counter(story) ".";
}

.sbdocs h4 {
    font-size: var(--typography-heading-size-md);
    line-height: var(--typography-heading-line-height-md);
}

.sbdocs h5 {
    font-size: var(--typography-heading-size-sm);
    line-height: var(--typography-heading-line-height-sm);
}

.sbdocs h6 {
    font-size: var(--typography-heading-size-xs);
    line-height: var(--typography-heading-line-height-xs);
}


.showAnnouncer.sb-show-main #wbAnnounce {
    background-color: white;
    bottom: 0;
    display: block !important;
    clip: revert !important;
    position: fixed !important;
    right: 0;
}

.showAnnouncer.sb-show-main .wbARegion {
    border: 1px solid red;
    margin-bottom: 0.5em;
}

.showAnnouncer.sb-show-main .wbARegion::before {
    background-color: inherit;
    border: 1px solid red;
    content: attr(id) / "";
    display: block;
    padding: 0.25em;
}

/* TOC wrapper */
.sbdocs-content+div {
    width: 16rem;
}

.sbdocs-content+div>* {
    width: 16rem;
    padding-top: 6.4rem;
    padding-bottom: 3.2rem;
}

/**
 * View Transitions
 */
::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
    animation-timing-function: linear(0, 0.03 1.3%, 0.113 2.7%, 0.84 11.5%, 0.981 14.7%, 1.049 18.2%, 1.061 20%, 1.061 22.2%, 1.011 32.3%, 0.997 39.3%, 1);
    animation-duration: 1s;
}

/** Animations **/
@keyframes slide-in-from-left {
    from {
      translate: -100% 0;
    }
}
@keyframes slide-in-from-right {
    from {
      translate: 100% 0;
    }
}
@keyframes slide-out-to-left {
    to {
      translate: -100% 0;
      opacity: 0;
    }
}
@keyframes slide-out-to-right {
    to {
      translate: 100% 0;
      opacity: 0;
    }
}

/**
 * Tab Panel transitions
 */

::view-transition-old(tab-panel),
::view-transition-new(tab-panel) {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

:active-view-transition-type(forwards) {
    &::view-transition-old(tab-panel) {
      animation-name: slide-out-to-left;
    }
    &::view-transition-new(tab-panel) {
      animation-name: slide-in-from-right;
    }
}

:active-view-transition-type(backwards) {
    &::view-transition-old(tab-panel) {
      animation-name: slide-out-to-right;
    }
    &::view-transition-new(tab-panel) {
      animation-name: slide-in-from-left;
    }
}

/**
 * Navigation Tab transitions
 */
::view-transition-old(navigation-tab-page),
::view-transition-new(navigation-tab-page) {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(navigation-tab-page) {
    animation-name: slide-out-to-left;
}
::view-transition-new(navigation-tab-page) {
    animation-name: slide-in-from-right;
}
