# This reusable workflow is executed to install and build the dependencies for
# the project.
name: Install and build Chromatic dependencies

on:
  workflow_call:
    inputs:
      # Determines which Chromatic step to run.
      # One of: "review" | "dependabot" | "release".
      target:
        required: true
        type: string
    secrets:
      # The project token for the Chromatic app.
      projectToken:
        required: true

jobs:
  chromatic:
    runs-on: ${{ matrix.os }}
    env:
      CI: true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - name: Checking out latest commit
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    # Cache and install dependencies
    - name: Get yarn cache
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v2
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-${{ matrix.node-version }}-yarn-cache-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node-version }}-yarn-
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: node_modules
        key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node-version }}-modules-
    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: yarn build:all
      run: yarn build:all

    # (if) Run this step on non-dependabot PRs.
    - name: Publish to Chromatic for visual testing (review PRs only)
      if: ${{ inputs.target == 'review' }}
      uses: chromaui/action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        projectToken: ${{ secrets.projectToken }}
        autoAcceptChanges: "main"
        # Generate snapshots for only changed stories
        # See: https://www.chromatic.com/docs/turbosnap
        onlyChanged: true

    # (if) Run this step on dependabot PRs.
    - name: Skip Chromatic builds (dependabot PRs only)
      if: ${{ inputs.target == 'dependabot' }}
      uses: chromaui/action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        projectToken: ${{ secrets.projectToken }}
        exitZeroOnChanges: true
        # This is a flag that allows us to skip the build in the case of a
        # dependabot PR. We still need to report the build as successful so that
        # the checks are valid and Dependabot can continue.
        skip: true

    # (if) Run this step on release PRs.
    - name: Auto-accept Chromatic changes (release PRs only)
      if: ${{ inputs.target == 'release' }}
      uses: chromaui/action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        projectToken: ${{ secrets.projectToken }}
        autoAcceptChanges: true